
@model RecoWeb01.Models.DbModels

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //((RecoWeb01.Controllers.MenuController)this.ViewContext.Controller).LoadMenuList();
}


<form class="form-row" method="post" asp-controller="HomeController" asp-action="Index">
    <div class="col-md-2">
        <ul class="nav navbar-nav">
            <li><p><a href="~/Home/About" class="btn btn-primary btn-lg">About</a></p></li>
            <li><p><a href="~/Home/Contact" class="btn btn-primary btn-lg">Contact</a></p></li>
        </ul>

    </div>
    <div class="col-md-2">
        @Html.TextBoxFor(m => m.SpName, new { @class = "form-control" })
        @*<input type="text" class="form-control" placeholder="프로시져명" required>*@

        <ul class="nav navbar-nav">
            <li><p><button type="submit" class="=btn btn-primary btn-lg">List 호출</button></p></li>
            <li><p><button type="submit" class="=btn btn-primary btn-lg">Json 호출</button></p></li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>LIST</h2>
    </div>
    <div class="col-md-4">
        <h2>Json</h2>
    </div>
    <h1>@{        
            if (@Model == null)
                { @ViewBag.Title;}
            else
                { @Model.SpValueJson;}
        }
    </h1>
</form>

