@model RecoWeb01.Models.COW_MenuInquiryViewModel


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@foreach (var p in Model.COW_MenuInquiry)
{
    <h3>@p.MenuId / @p.MenuName / @p.Seq</h3>
}

